* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    background-color: black;
    padding: 2em;
    font-family: 'Yusei Magic', sans-serif;   
}

.gmail{
    width: 100%;
    height: 11em;
    background-color: white;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gmail a{
    color: black;
}

.telephone{
    width: 100%;
    height: 11em;
    background-color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.telephone a{
    color: black;
}

.city{
    width: 100%;
    height: 11em;
    background-color: white;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    padding: 1em;
}

.localizacion{
    display: flex;
    flex-direction: row;
}

.localizacion img{
    width: 2em;
    height: 2em;
}

@media screen and (min-width: 800px){
    .gmail{
        max-width: 80em;
        height: 16em;
        margin: auto;
    }

    .telephone{
        max-width: 80em;
        height: 16em;
        margin: auto;
        margin-top: 1.5em;
    }

    .city{
        max-width: 80em;
        height: 16em;
        margin: auto;
        margin-top: 1.5em;
    }
}
    
    
